:root {
  --main-bg-color:rgb(245, 241, 235);
  --main-text-color: #212529;
  --youtube-bg-color: #000000;
}

html {
  background-color: var(--main-bg-color) !important; 
}

body {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

article {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

main {
  background-color: var(--main-bg-color) !important; 
}

/* General */

/* 
Disabling this because of YouTube
#content {
  background-color: var(--main-bg-color) !important; 
} */

.content {
  background-color: var(--main-bg-color) !important; 
}

.site-wrapper {
  background-color: var(--main-bg-color) !important; 
}


/* Github */
#readme {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

body.using-nav-vertical main.board-layout {
  background-color: rgb(45, 45, 45) !important;
}

.bg-white {
  background-color: var(--main-bg-color) !important;
}

.bg-gray {
  background-color: var(--main-bg-color) !important;
}

/* HackerNews */
#hnmain {
  background-color: transparent !important;
  color: var(--main-text-color) !important;
}

/* Quora */
.qu-bg--white {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

.qu-borderAll {
  border-style: none !important;
}

/* Medium */
.c {
  background-color: var(--main-bg-color) !important; 
}

/* YouTube */
ytd-page-manager {
  background-color: var(--youtube-bg-color) !important; 
}

yt-formatted-string.content {
  background-color: var(--youtube-bg-color) !important; 
}

/* DuckDuckGo */
.content-wrap {
  background-color: var(--youtube-bg-color) !important; 
}

/* Amazon */
#dp {
  background-color: transparent !important;
}
