:root {
  --main-bg-color:rgb(245, 241, 235);
  --main-text-color: #212529;
}

html {
  background-color: var(--main-bg-color) !important; 
}

body {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

article {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

/* Github */
#readme {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

body.using-nav-vertical main.board-layout {
  background-color: rgb(45, 45, 45) !important;
}

/* HackerNews */
#hnmain {
  background-color: transparent !important;
  color: var(--main-text-color) !important;
}

/* Quora */
.qu-bg--white {
  background-color: var(--main-bg-color) !important; 
  color: var(--main-text-color) !important;
}

.qu-borderAll {
  border-style: none !important;
}

/* #content {
  background-color: var(--main-bg-color) !important; 
} */

/* Medium */
.c {
  background-color: var(--main-bg-color) !important; 
}
